@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --black: #000;
  --white: #fff;
  --primary-clr: #FFAC33;
  --primary-linear: linear-gradient(180deg, #FFAC33 0%, #AE6700 100%);
  --secondary-clr: ;
  --tertiary-clr: ;
  --font-family-p1: "Rethink Sans", sans-serif;
  --font-family-p2: "Manrope", sans-serif;
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/*  */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

a {
  text-decoration: none;
  transition: all ease 0.6s;
  margin: 0;
  padding: 0;
}

ul,
li,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1250px !important;
}

.btn-main {
  display: inline-block;
  border-radius: 100px;
  padding: 13px 24px;
  background: var(--primary-linear);
  font: 600 16px/27px var(--font-family-p2);
  letter-spacing: 0;
  color: var(--white);
  text-align: center;
  text-transform: capitalize;
  transition: all 0.3s ease;
  border: 0;
}

.btn-main:hover {
  background: linear-gradient(180deg, #AE6700 0%, #FFAC33 100%);
}

/*  */
.site-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.site-header .navbar-nav {
  background: #242424;
  border-radius: 100px;
  padding: 8px;
  gap: 8px;
}

.site-header .navbar-nav li a {
  margin: 0;
  padding: 13px 15px !important;
  border-radius: 100px;
  font-family: var(--font-family-p2);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0%;
  color: var(--white);
  text-transform: capitalize;
}

.site-header .navbar-nav li a.active,
.site-header .navbar-nav li a:hover {
  background: #FFAC33;
  color: var(--black);
}

.site-header .navbar .dropdown-menu {
  padding: 0 !important;
  border-radius: 15px !important;
  overflow: hidden;
}

.site-header .navbar-nav ul.dropdown-menu li a {
  color: #000 !important;
  border-radius: 0;
  padding: 10px 15px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--white);
}

/*  */
.HeroBanner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 336px 0 50px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.HeroBanner .heading-wrap {
  text-align: center;
  max-width: 830px;
  margin: 0 auto 74px;
}

.HeroBanner .heading-wrap h1 {
  font: 600 58px/1.2 var(--font-family-p1);
  letter-spacing: 0;
  text-align: center;
  color: var(--white);
  margin: 0 0 14px;
}

.HeroBanner .heading-wrap p {
  font: 500 18px/1.6 var(--font-family-p2);
  letter-spacing: 0;
  text-align: center;
  color: var(--white);
  margin: 0 0 34px;
}

.review-wrap {
  text-align: center;
  margin: 0 0 20px;
}

.ra-star {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  margin: 0 0 14px;
}

.ra-star svg {
  fill: #E6B919;
}

.review-wrap p {
  font: 500 16px/1.6 var(--font-family-p2);
  letter-spacing: 0;
  color: #A7ADBE;
}


/* components/BrandSlider.module.css */
.carouselField {
  width: 100%;
  overflow: hidden;
  margin-bottom: 40px;
}

.marqueeCarousel .swiper-wrapper {
  transition-timing-function: linear !important;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  aspect-ratio: 126/42;
  object-fit: contain;
  width: 100%;
  height: auto;
  object-position: center;
}

/*  */
.OptimizeFormSc {
  padding: 80px 0;

}

.OptimizeFormSc h2 {
  font: 600 42px/1.2 var(--font-family-p1);
  letter-spacing: 0;
  text-transform: capitalize;
  color: var(--black);
  margin: 0 0 20px;
  text-align: center;
}

.OptimizeFormSc p {
  font: 500 18px/1.6 var(--font-family-p2);
  letter-spacing: 0;
  color: #363636;
  margin: 0 0 32px;
  text-align: center;
  vertical-align: middle;
}

/*  */
.OptimizeForm {
  border-radius: 20px;
  padding: 24px !important;
  border: 1px solid #E2E2E8;
}

form label {
  font: 600 16px/1.2 var(--font-family-p2);
  color: var(--black);
  margin-bottom: 12px;
}

form input {
  font: 500 14px/1.2 var(--font-family-p2);
  color: var(--black);
  background: #F6F7FA !important;
  border: 1px solid #CBCBCB;
  border-radius: 6px;
  padding: 20px !important;
}

form input:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

/*  */
.OurIndustries {
  padding: 80px 0;
}

.OurIndustries .heading-wrap {
  text-align: center;
}

.hd-border-line {
  font: 500 16px/1.2 var(--font-family-p2);
  color: var(--black);
  position: relative;
  padding-bottom: 13px;
  margin-bottom: 20px;
  display: inline-block;
}

.hd-border-line::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--primary-clr);
  width: 100%;
  height: 5px;
}

.hd-border-line.center {
  text-align: center;
}

.hd-border-line.start {
  text-align: start;
}

.OurIndustries h2 {
  font: 600 48px/1.2 var(--font-family-p1);
  color: var(--black);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 60px;
}

.industries-card-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}

.industries-card-item h4 {
  font-family: var(--font-family-p2);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #000;
  text-align: center;
}

.industries-card-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: var(--primary-linear);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.industries-card-img::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: transparent;
  border: 2px solid #CCCCCC;
  width: 90px;
  height: 90px;
}

/*  */
.WhyUs {
  padding: 217px 0 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: end;
  justify-content: center;
}

.WhyUs .heading-wrap {
  max-width: 670px;
  margin: 0 auto 50px;
  text-align: center;
}

.WhyUs .heading-wrap h2 {
  font: 700 42px/1.2 var(--font-family-p1);
  margin: 0 0 16px;
  color: var(--white);
  text-align: center;
}

.WhyUs .heading-wrap p {
  font: 500 16px/1.6 var(--font-family-p2);
  margin: 0;
  color: var(--white);
  text-align: center;
}

.hd-box {
  display: inline-block;
  padding: 11px 14px;
  border-radius: 100px;
  background: #000;
  font: 500 14px/1.2 var(--font-family-p1);
  color: var(--white);
}

.whyus-btm-card {
  background: #1B1B1B;
  border: 1px solid #535353;
  padding: 18px 24px;
  font: 400 18px/1.2 var(--font-family-p2);
  color: var(--white);
  border-radius: 70px;
  max-width: 852px;
  margin: 0 auto;
}

.whyus-btm-card a {
  background: linear-gradient(90deg, #C57B13 0%, #FFE74B 100%);
  -webkit-background-clip: text;
  font-weight: 600;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

/*  */
.whyus-card {
  margin: 0 0 50px;
}

.whyus-card-item {
  border-radius: 16px;
  background: #0F0F0F;
  padding: 44px 30px 30px;
  height: 100%;
  position: relative;
}

.whyus-card-img {
  position: absolute;
  top: -20px;
  left: 30px;
}

.whyus-card-item h4 {
  font-family: var(--font-family-p1);
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: var(--white);
  margin: 0 0 12px;
}

.whyus-card-item p {
  font-family: var(--font-family-p2);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0%;
  color: #A7ADBE;

}

/*  */
.GrowTogether {
  padding: 80px 0;
}

.GrowTogether-wrap {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 109px;
  border-radius: 20px;
  text-align: center;
}

.GrowTogether-wrap h2 {
  font: 700 42px/1.2 var(--font-family-p1);
  text-align: center;
  color: var(--white);
  margin: 0 0 16px;
}

.GrowTogether-wrap p {
  font: 500 16px/1.6 var(--font-family-p2);
  text-align: center;
  color: var(--white);
  margin: 0 0 24px;
}

/* OurTestimonials */
.OurTestimonials {
  padding: 100px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.OurTestimonials h2 {
  font: 600 48px/1.2 var(--font-family-p1);
  text-align: start;
  text-transform: capitalize;
  letter-spacing: 0;
  margin: 0 0 30px;
}

.Testimonials-card {
  background: var(--white);
  border: 1px solid #E0E6F7;
  border-radius: 16px;
  padding: 26px;

}

.Testimonials-card .user {
  display: flex;
  align-items: center;
  gap: 13px;
  margin: 0 0 14px;
}

.Testimonials-card .user .user-img {
  flex: none;
  width: 81px;
  height: 81px;
}

.Testimonials-card .user .user-img img {
  width: 100%;
  height: 100%;
}

.Testimonials-card h6 {
  font: 600 16px/1 var(--font-family-p2);
  vertical-align: middle;
  letter-spacing: 0;
  margin: 0 0 8px;
}

.Testimonials-card p {
  font: 400 14px/1.6 var(--font-family-p2);
  letter-spacing: 0;
  color: #666;
}

.Testimonials-card .ra-star {
  justify-content: start;
  margin: 0;
}

.TestimonialsSlider .swiper-wrapper {
  padding-bottom: 40px;
}

.OurTestimonials .reviews-wrap {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 50px;
}

.OurTestimonials .ra-star {
  justify-content: start;
}

.OurTestimonials .reviews {
  font-family: var(--font-family-p2);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0%;
  color: #787878;

}

.OurTestimonials .rating-value {
  font-family: var(--font-family-p2);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0%;
  color: var(--black);


}

.OurTestimonials .reviews-wrap .avatars img {
  object-fit: cover;
  border: 3px solid #fff;
  border-radius: 50%;
}

.OurTestimonials .reviews-wrap .avatars img:nth-child(2) {
  margin-left: -20px
}

.OurTestimonials .reviews-wrap .avatars img:nth-child(3) {
  margin-left: -20px
}

.OurTestimonials .reviews-wrap .avatars img:nth-child(4) {
  margin-left: -20px
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.swiper-pagination-bullet {
  margin: 0 !important;
  padding: 0 !important;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #CCCCCC;

}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #2B2B2B;
  width: 24px;
  border-radius: 7px;
}

/*  */
.upper-ft {
  padding: 50px 0;
  background: var(--black);
}

.upper-ft .site-logo {
  padding: 0 0 30px;
  margin: 0 0 30px;
  border-bottom: 1px solid #B7B7B7;
}

.upper-ft .cn-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.upper-ft h5 {
  font: 600 20px/1.2 var(--font-family-p2);
  text-transform: capitalize;
  margin-bottom: 24px;
  color: var(--white);
}

.upper-ft p {
  font: 400 14px/1.6 var(--font-family-p2);
  margin-bottom: 24px;
  color: var(--white);
}

.upper-ft ul li {
  margin-bottom: 24px;
}

.upper-ft ul li a {
  font: 400 14px/1.6 var(--font-family-p2);
  margin-bottom: 24px;
  color: var(--white);
}

.social-icon {
  display: flex;
  align-items: center;
  gap: 20px;
}

.social-icon a {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background: #FFAC33A8;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 30px;
}

.contact-icon {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background: #FFAC33;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-icon svg {
  fill: #fff;
}

.contact-item h6 {
  font: 400 16px/1.2 var(--font-family-p2);
  text-transform: capitalize;
  margin-bottom: 10px;
  color: var(--white);
}

.contact-item a {
  font: 400 16px/1.2 var(--font-family-p2);
  text-transform: capitalize;
  color: var(--white);
}

.footer-description {
  max-width: 625px;
}

.quick-links {
  max-width: 200px;
}

.contact-us {
  max-width: 273px;
}

/*  */
.bottom-ft {
  padding: 30px 0;
  background: #111111;
}

.bottom-ft p {
  font: 400 16px/1.2 var(--font-family-p2);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0;
  color: var(--white);
}